<%- include('partials/header') -%>

<h1 class="home">About</h1>
<p class="pHome"> <%= aContent %> </p>
<p class="text-center mt-5">Join our Developers Community</p>
<p class="text-center"><a class="links" href="https://t.me/+Yh3o6K0_PSBmOTdl"><i class="fa-brands fa-telegram fa-2x"></i>  Developerz</a> </p>
<%- include('partials/footer') -%>