<%- include('partials/header') -%>

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid p-3 ps-5">
            <h1 class="display-4">Uh oh!</h1>
            <p class="lead">There was a problem signing you up. Please try again or contact the developer!</p>

            <form action="/failure" method="post">
                <button type="submit" class="btn btn-outline-dark" id="tryAgain">Try again</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer') -%>