<%- include('partials/header') -%>

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid p-3 ps-5">
            <h1 class="display-4">Awesome!</h1>
            <p class="lead">You have been successfully signed up to the newsletter, Look forwards to lot of awesome
                content!
            </p>
            <a class="links" href="/"><button class="btn btn-primary">back to home</button></a>
        </div>
        </div>

<%- include('partials/footer') -%>